body
{
    background-color: #f4fe2e;
}
h1
{
    color: #fc19ff;
    text-align:center;
}
p
{
    font-family:"Times New Roman";
    font-size:20px;
}
.header
{
    text-align:center;
    color:red;
}
.footer
{
    text-align:center;
    color:blue;
}
